<!-- dialog.html -->

{% extends 'index.html' %}

{% block content %}

    <div id="dialog" class="mt-3">
        <p class="sys_talk">Bonjour ! Où puis-je vous conduire ?</p>
    </div>

    <!-- Chat -->
    <div style="width: 100%; padding: 0;" class="container">
        <form id="searchEntry">
         {{ form.hidden_tag() }}
            {{ form.entry(id="search_entry", class="what_in w-100", type="text",
                placeholder="Tapez une destination (p.ex. Musée du Louvre)") }}
                {{ form.submit(id="ask", type="submit", class="btn btn-dark btn-md") }}
        </form>
    </div>

{% endblock %}